* {
  /* overflow: hidden;
   */
  padding: 0;
  margin: 0;
}

.App {
  background: url(./Images/background.webp) center no-repeat fixed;
  /* background-repeat: no-repeat; */
  background-blend-mode: lighten;
  width: 80vw;
  height: 80vh;
  margin: auto;
  overflow: hidden;
}

.rows {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 160px 160px 160px;
  border: 2px solid black;
  margin: auto;

  background: #000000d1;
}
.boxes {
  border: 2px solid white;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  backdrop-filter: blur(10px);
  color: white;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 90%;
}
